$main-font-color: white;
$dir-color: #75a4ce;
$user-color: #9ed53a;
$background-color: rgb(48, 10, 36);

@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

body {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Ubuntu Mono';
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: $background-color;
}

#root{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.terminalInput {
    display: flex;
    flex-direction: row;
    color: white;
    .computer {
        color: $user-color;
        font-weight: bold;
    }
    .path{
        color: $dir-color;
    }
    .command {
        color: $main-font-color;
        margin: 0px;
        padding: 0px;
        border: none;
        background-color: $background-color;
        outline: none;
        margin-left: 5px; 
        flex: 1;
        flex-wrap: wrap;    
    }
}

//Outputs
#vim-wrapper{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    #vim-editor {
        flex: 1;
    }
    #vim-command {
    }
}

.ace_gutter {
    width: 40px !important;
}

.ace_cursor {
    border-left: 6px solid !important;
}

.ace_hidden-cursors {
    display: none;
}

textarea{
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
    resize: none;
    background-color: $background-color;
    color: $main-font-color;
}

.output-ls{
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    div.file{
        margin-right: 10px;
    }
}

.dir{
    color: $dir-color;
}
