$main-font-color: white;
$dir-color: #75a4ce;
$user-color: #9ed53a;
$background-color: rgb(48, 10, 36);

@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

:global {

    body {
        margin: 0;
        padding: 0;
    }

    html, body {
        font-family: 'Ubuntu Mono';
        color: white;
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 100vh;
        background-color: $background-color;
    }

    #root{
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100%;
    }

}